version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: greenify_postgres
    restart: always
    environment:
      POSTGRES_USER: greenify
      POSTGRES_PASSWORD: greenifypassword
      POSTGRES_DB: greenifydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: greenify_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
